.cont{
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image/R.jfif);
   background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;

}
    
.cont__main{
   color: rgb(246, 246, 242);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-self: start;
}
.main1{
   background-image:linear-gradient(rgba(67, 61, 66, 0.263),rgba(240, 133, 224, 0.5)), url(image/E.jfif);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;

}.main2{
    background-color: rgb(136, 133, 135);
    position: relative;
}

.para{
    color:rgb(144, 239, 239);
    position: absolute;
    font-style: italic;
    font-size: 24px;
    
}
.im{
    position: absolute;
    left:400px;
    height: 100vh;
    opacity: rgba(251, 242, 242, 0.75);
}
.menu ul {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    font-size: 17px;
    width: 1000px;    
}
.menu ul a {
    color:rgb(209, 244, 14);
     font-family: 'Times New Roman', Times, serif;


}
.menu li:hover{
    background-color: rgb(85, 83, 81);
}
.menu li {
    list-style: none;
}

.ko{
    color: rgb(16, 14, 14);
}
.foot{
    position: absolute;
    top:700px;
   
}
.bod{
    color: white;
    position: absolute;    
}.fo{
    position: absolute;
    left: 20px;
    top:670px;
    color: cyan;
}
.carss{
    display: flex;
    align-items:flex-start ;
    justify-content: space-between;
}

.contact{
    position: absolute;
    top:170px;
    left:200px;
    width:500px;
}
.adress{
    position: absolute;
    top:200px;
    left:20px;

}
.mess{
    position: absolute;
    top:100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left:400px;
    font-size: larger;
    font-style: italic;

}
.price{
    margin-left: 200px;
}
.dis{
    margin-left: 500px;
    

}
.disc{
    font-style: italic;
    margin-left: 200px;

    
}
.toggle-button{
    position: absolute;
    top:50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height: 21px;
    right: 50px;
    


}
.toggle-button .bar{
    height: 3px;
    width:100%;
    background-color: white;
    border-radius: 10px;

}
.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

@media (max-width : 700px){
    .toggle-button{
        display: flex;
    }
    .menu{
        display: none;
        

    }
    .menu ul{
        flex-direction: column;
        width: 100%;

    }
   
    .menu ul a{
        text-decoration: none;
        z-index: 5;
        
       
        
    }
    .main{
        flex-direction: column-reverse;
        width: 100%;
        
        
    }
    .menu.active{
        display: flex;
        
    }
    .carss{
        flex-direction: column;
    }
    .table{
        flex-direction: column;
    }.add{
        flex-direction: column;
    }

    
  

    
   


   

}




